@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,900;1,500;1,600;1,900&display=swap');

body {
    background: #BE8769;
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 56px;
    color: #ECE1DC;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 45px;
    color: #ECE1DC;
}

p {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #ECE1DC;
}

.navbar-container, .navbar-container-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #7D5443;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 45px;
    color: #ECE1DC;
}

.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-container-left {
    float: left;
    padding: 10px 0 10px 50px;
}

.navbar-container-right {
    float: right;
    padding: 10px 25px 10px 0;
}

.navbar-container-right li {
    display: inline;
}

a:link, a:visited {
    color: #A76B59;
}

a:hover, a.active {
    color: #ECE1DC;
    text-decoration: none;
}

.header-banner-container {
    position: relative;
    margin-top: 80px;
    width: 100%;
    max-height: 500px;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: #80A0AF;
    text-shadow: 
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header-banner-text {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: 900;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.image-display-table {
    border: 0;
    width: 90vw;
    margin: 10px auto 0;
}

.image-display-table td {
    width: 30%;
    text-align: center;
    padding-bottom: 20px;
}

.image {
    object-fit: fill;
    width: 70%;
}

.image-caption {
    width: 70%;
    margin: 0 auto 0;
    font-size: 24px;
}

.about-bodytext-container {
    margin: 130px auto 0;
    width: 60vw;
}

.headshot-image {
    height: 420px;
    float: left;
    margin: 0 10px 10px 0;
}

.pagetext-medium {
    font-size: 20px;
}