@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,900;1,500;1,600;1,900&display=swap');

body {
    background: #7D5443;
    background-image: url("../bioSite/images/Bookshelf\ Header\ Banner.jpg");
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 56px;
    color: #ECE1DC;
    margin: 0;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 45px;
    color: #ECE1DC;
}

p {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #ECE1DC;
}

.navbar-container, .navbar-container-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #7D5443;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 45px;
    color: #ECE1DC;
}

.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-container-left {
    float: left;
    padding: 10px 0 10px 50px;
}

.navbar-container-right {
    float: right;
    padding: 10px 25px 10px 0;
}

.navbar-container-right li {
    display: inline;
}

a:link, a:visited {
    color: #80A0AF;
}

a:hover, a.active {
    color: #ECE1DC;
    text-decoration: none;
}

.header-banner-container {
    position: relative;
    margin-top: 80px;
    width: 100vm;
    min-height: 500px;
    text-align: center;
    color: #ECE1DC;
}

.header-banner-background {
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.header-banner-text {
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    font-weight: 900;
    text-shadow: 
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.image-display-table {
    border: 0;
    width: 90vw;
    margin: 10px auto 40px;
    padding: 20px 0;
    background: #BE8769;
}

.image-display-table td {
    width: 33%;
    text-align: center;
    padding-bottom: 20px;
}

.image {
    object-fit: fill;
    width: 70%;
}

.image-caption {
    width: 70%;
    margin: 0 auto 0;
    font-size: 24px;
}

.about-bodytext-container {
    margin: 130px auto 50px;
    width: 60vw;
    background: #BE8769;
    padding: 20px;
}

.headshot-image {
    height: 420px;
    float: left;
    margin: 0 20px 10px 0;
}

.pagetext-medium {
    font-size: 20px;
}

.hobby-body-container {
    margin: 130px auto 50px;
    width: 60vw;
    background: #BE8769;
    padding: 20px;
}

.hobby-reading, .hobby-crochet, .hobby-game {
    overflow: hidden;
}

.reading-image {
    float: left;
    height: 400px;
    margin-right: 20px;
}

.crochet-image {
    float: right;
    height: 300px;
    margin: 10px 0 10px 10px;
}

.gamer-image {
    float: left;
    height: 250px;
    margin: 10px 10px 0 0;
}



